@import '/styles/components/header';

// Fontes
$fonte: 'Jost', sans-serif;

// Cores
$cor-primaria: #495371;
$cor-shadow: #FBDA40;
$cor-header: #FACE00;




// tamanho das fontes
$tamanho-do-texto: 3rem;